RAILS_ENV=development
HOST=127.0.0.1
PORT=3000

POSTGRES_HOST=localhost
POSTGRES_DB=chess_analysis_development
POSTGRES_TEST_DB=chess_analysis_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

STOCKFISH_PATH=vendor/stockfish/stockfish
STOCKFISH_DEPTH=10
STOCKFISH_TIMEOUT=2.0
